<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Database -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
                <property name="defaultAutoCommit" value="false"/>
                <property name="driverClassName" value="${db.driver_class}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
                <property name="maxActive" value="50"/>
                <property name="maxIdle" value="20"/>
                <property name="minIdle" value="10"/>
                <property name="maxWait" value="#{'${env.type}' == 'PROD' ? -1 : 0}"/>
            </bean>
        </property>
        <property name="hibernateProperties">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
                <entry key="hibernate.show_sql" value="${hibernate.show_sql}"/>
                <entry key="hibernate.format_sql" value="${hibernate.format_sql}"/>
            </map>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>arch.galaxyeclipse.server.data.model.Bonus</value>
                <value>arch.galaxyeclipse.server.data.model.BonusType</value>
                <value>arch.galaxyeclipse.server.data.model.Engine</value>
                <value>arch.galaxyeclipse.server.data.model.InventoryItem</value>
                <value>arch.galaxyeclipse.server.data.model.Item</value>
                <value>arch.galaxyeclipse.server.data.model.ItemType</value>
                <value>arch.galaxyeclipse.server.data.model.Location</value>
                <value>arch.galaxyeclipse.server.data.model.LocationObject</value>
                <value>arch.galaxyeclipse.server.data.model.LocationObjectBehaviorType</value>
                <value>arch.galaxyeclipse.server.data.model.LocationObjectType</value>
                <value>arch.galaxyeclipse.server.data.model.Player</value>
                <value>arch.galaxyeclipse.server.data.model.PlayerActivationHash</value>
                <value>arch.galaxyeclipse.server.data.model.ShipConfig</value>
                <value>arch.galaxyeclipse.server.data.model.ShipConfigBonusSlot</value>
                <value>arch.galaxyeclipse.server.data.model.ShipConfigWeaponSlot</value>
                <value>arch.galaxyeclipse.server.data.model.ShipState</value>
                <value>arch.galaxyeclipse.server.data.model.ShipType</value>
                <value>arch.galaxyeclipse.server.data.model.Weapon</value>
                <value>arch.galaxyeclipse.server.data.model.WeaponType</value>
            </list>
        </property>
    </bean>

    <!-- Network -->
    <bean class="arch.galaxyeclipse.server.network.ServerNetworkManager">
        <constructor-arg>
            <bean class="arch.galaxyeclipse.server.network.ServerPipelineChannelFactory"/>
        </constructor-arg>
    </bean>

    <!-- Other -->
    <bean class="arch.galaxyeclipse.server.authentication.ClientAuthenticator" scope="prototype"/>
    <bean class="arch.galaxyeclipse.server.network.handler.PacketHandlerFactory" scope="prototype"/>
    <bean class="arch.galaxyeclipse.server.protocol.GeProtocolMessageFactory" scope="prototype"/>

    <bean class="arch.galaxyeclipse.shared.types.DictionaryTypesMapper"/>
</beans>
