<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa-1.1.xsd">

    <!-- Database -->
    <tx:annotation-driven/>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="defaultAutoCommit" value="false"/>
        <property name="driverClassName" value="${db.driver_class}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.connection.driver_class" value="${db.driver_class}"/>
                <entry key="hibernate.connection.url" value="${db.url}"/>
                <entry key="hibernate.connection.username" value="${db.username}"/>
                <entry key="hibernate.connection.password" value="${db.password}"/>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
                <entry key="hibernate.show_sql" value="true"/>
                <entry key="hibernate.format_sql" value="true"/>
            </map>
        </property>
    </bean>
    <jpa:repositories base-package="arch.galaxyeclipse.server.data.repository"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"/>

    <!-- Network -->
    <bean id="pipelineFactory" class="arch.galaxyeclipse.server.network.ServerPipelineChannelFactory"/>
    <bean class="arch.galaxyeclipse.server.network.ServerNetworkManager">
        <constructor-arg ref="pipelineFactory"/>
    </bean>

    <!-- Other -->
    <bean class="arch.galaxyeclipse.server.authentication.ClientAuthenticator" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.server.data.util.DictionaryTypesMapperHelper" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.shared.types.DictionaryTypesMapper"/>
</beans>
