<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Database -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
                <property name="defaultAutoCommit" value="false"/>
                <property name="driverClassName" value="${db.driver_class}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
                <property name="maxActive" value="50"/>
                <property name="maxIdle" value="20"/>
                <property name="minIdle" value="10"/>
                <property name="maxWait" value="#{'${env.type}' == 'PROD' ? -1 : 0}"/>
            </bean>
        </property>
        <property name="hibernateProperties">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
                <entry key="hibernate.show_sql" value="${hibernate.show_sql}"/>
                <entry key="hibernate.format_sql" value="${hibernate.format_sql}"/>
            </map>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>arch.galaxyeclipse.server.data.model.GeBonus</value>
                <value>arch.galaxyeclipse.server.data.model.GeBonusType</value>
                <value>arch.galaxyeclipse.server.data.model.GeEngine</value>
                <value>arch.galaxyeclipse.server.data.model.GeInventoryItem</value>
                <value>arch.galaxyeclipse.server.data.model.GeItem</value>
                <value>arch.galaxyeclipse.server.data.model.GeItemType</value>
                <value>arch.galaxyeclipse.server.data.model.GeLocation</value>
                <value>arch.galaxyeclipse.server.data.model.GeLocationObject</value>
                <value>arch.galaxyeclipse.server.data.model.GeLocationObjectBehaviorType</value>
                <value>arch.galaxyeclipse.server.data.model.GeLocationObjectType</value>
                <value>arch.galaxyeclipse.server.data.model.GePlayer</value>
                <value>arch.galaxyeclipse.server.data.model.GePlayerActivationHash</value>
                <value>arch.galaxyeclipse.server.data.model.GeShipConfig</value>
                <value>arch.galaxyeclipse.server.data.model.GeShipConfigBonusSlot</value>
                <value>arch.galaxyeclipse.server.data.model.GeShipConfigWeaponSlot</value>
                <value>arch.galaxyeclipse.server.data.model.GeShipState</value>
                <value>arch.galaxyeclipse.server.data.model.GeShipType</value>
                <value>arch.galaxyeclipse.server.data.model.GeWeapon</value>
                <value>arch.galaxyeclipse.server.data.model.GeWeaponType</value>
            </list>
        </property>
    </bean>

    <!-- Network -->
    <bean class="arch.galaxyeclipse.server.network.GeServerNetworkManager">
        <constructor-arg>
            <bean class="arch.galaxyeclipse.server.network.GeServerPipelineChannelFactory"/>
        </constructor-arg>
    </bean>

    <!-- Other -->
    <bean class="arch.galaxyeclipse.server.authentication.GeClientAuthenticator" scope="prototype"/>
    <bean class="arch.galaxyeclipse.server.network.handler.GePacketHandlerFactory" scope="prototype"/>
    <bean class="arch.galaxyeclipse.server.protocol.GeProtocolMessageFactory" scope="prototype"/>

    <bean class="arch.galaxyeclipse.server.data.GeDynamicObjectsHolder" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.shared.types.GeDictionaryTypesMapper"/>
    <bean class="arch.galaxyeclipse.shared.thread.GeExecutor"/>
</beans>
