<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    
    <bean class="arch.galaxyeclipse.client.window.ClientWindow"/>
    <bean class="arch.galaxyeclipse.client.texture.CachingTextureAtlasFactory"/>
    <bean id="channelHandlerFactory" class="arch.galaxyeclipse.client.network.ClientChannelHandlerFactory"/>
    <bean class="arch.galaxyeclipse.client.network.ClientNetworkManager">
        <constructor-arg ref="channelHandlerFactory"/>
    </bean>
    <bean class="arch.galaxyeclipse.shared.typesdictionary.DictionaryTypesMapper"/>
</beans>
