<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Rendering -->
    <bean class="arch.galaxyeclipse.client.window.GeClientWindow"/>
    <bean class="arch.galaxyeclipse.client.ui.widget.GeCursorWidget" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.ui.actor.GeActorFactory" lazy-init="true"/>

    <!-- Network -->
    <bean class="arch.galaxyeclipse.client.network.GeClientNetworkManager"/>

    <!-- Other -->
    <bean class="arch.galaxyeclipse.client.resource.GeCachingResourceLoader" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.shared.types.GeDictionaryTypesMapper" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.data.GeShipStaticInfoHolder" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.data.GeLocationInfoHolder" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.data.GeShipStateInfoHolder" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.resource.GeFlySoundManager"/>


    <bean class="arch.galaxyeclipse.shared.thread.GeExecutor"/>
</beans>