<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Rendering -->
    <bean class="arch.galaxyeclipse.client.window.ClientWindow"/>
    <bean class="arch.galaxyeclipse.client.ui.actor.ActorFactory" lazy-init="true"/>

    <!-- Network -->
    <bean class="arch.galaxyeclipse.client.network.ClientNetworkManager"/>

    <!-- Other -->
    <bean class="arch.galaxyeclipse.client.resource.CachingResourceLoader" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.shared.types.DictionaryTypesMapper" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.data.ShipStaticInfoHolder" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.data.LocationInfoHolder" lazy-init="true"/>
    <bean class="arch.galaxyeclipse.client.data.ShipStateInfoHolder" lazy-init="true"/>
</beans>