<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %-40logger{0}  %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="arch.galaxyeclipse.client.network" level="${log.network}"/>
    <logger name="arch.galaxyeclipse.shared.network" level="${log.network}"/>
</configuration>